<?xml version="1.0"?>
<configuration>

  <location path="UserList.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="LoggedInUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="CreateAccount.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ExpandedUserInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="UserDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="WebForm1.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, assistant" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
